.cardlist {
  list-style: none;
  margin: 0;
  padding: 10px;
  line-height: 0;
  -webkit-column-count: 6;
  -webkit-column-gap: 0px;
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
  position: relative;
}

.cardlist__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(211, 55, 55);
  filter: invert(100%);
}

.cardlist__button {
  color: violet;
}
