.cardlist {
  list-style: none;
  margin: 0;
  padding: 20px;
  /*
  display: flex;
  flex-wrap: wrap;*/
  line-height: 0;
  -webkit-column-count: 10;
  -webkit-column-gap: 0px;
  -moz-column-count: 10;
  -moz-column-gap: 0px;
  column-count: 10;
  column-gap: 0px;
  position: relative;
}

.cardlist__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: red;
  /*
  background-size: 100px;
  background-image: url('../../images/bg.png');*/
  filter: invert(100%);
}
