.result {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result__button-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.result__confirm {
  background-color: rgb(43, 91, 223);
  color: #fff;
  border: none;
  padding: 5px;
}

.result__again {
  background-color: #06e690af;
  color: #fff;
  border: none;
  padding: 5px;
}
