.result {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.result__button-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.result__button {
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 20px;
}

.result__confirm {
  background-color: rgb(43, 91, 223);
}

.result__again {
  background-color: #06e690af;
}

.result__theme {
  background-color: #f739ce79;
}

.result__popup {
  position: absolute;
  top: 0;
  right: 20%;
  display: inline;
}

.result__popup-hidden {
  display: none;
}

@media (min-width: 768px) {
  .result__button {
    padding: 10px;
    font-size: 30px;
  }
  .result__input-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
